@charset "UTF-8";

body {
    background-color: #8FC1B5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #265C4B;
}

h1#principal {
    text-align: center;
    background-color: #007566;
    color: white;
}

h2 {
    color: #146551;
}

.basico {
    color: #146551;

}

.intermediario {
    color: #5d6514;
    
}

.avancado {
    color: #651414;

}
.destaque {
    background-color: #d9e9466c;
}
