@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #403D1A, #A7CFF2 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(#D9CEC1,#6B9FBF, #A7CFF2, alpha);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:  #403D1A;
    text-align: center;
    text-shadow: 1px 1px 2px #D9CEC1;
}

h2 {
    color:#A7CFF2;
}

p {
    text-align: justify;
}